@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
}

.banner-heading {
	font-size: 3em;
	text-align: center;
	justify-content: center;
}

#movie-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.movie-card {
	padding: 1em;
}

.movie-title {
	font-size: 2em;
}

.movie-img {
	width: 20vw;
}

.movie-rank {
	font-size: 1.2em;
}
